@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
}
header {
    text-align: justify;
}
.header1 {
    text-align: center; 
    background-color: green; 
    color: white;
    height: 100%;
}
.header1 .contents {
    width: 90%;
}
.header1 .contents .left{
    float: left;
    padding: 12px;
}
.header1 .contents .right{
    float: right;
    padding: 12px;
}
.clearfix {
    clear: both;
    display: table;
}


