@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: auto;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  line-height: 25px;
}
div {
  margin: 0px;
}
header {
  text-align: justify;
}
.header1 {
  background-color: green;
  color: white;
  height: 100%;
}
.header1 .contents {
  width: 85%;
}
.header1 .contents .left {
  float: left;
  padding: 12px;
}
.header1 .contents .right {
  float: right;
  padding: 12px;
}
.clearfix {
  clear: both;
  display: table;
}
.header2 {
  height: 100%;
}
.header2 .contents {
  display: flex;
  align-items: center;
  width: 85%;
}
.navleft {
  width: 30%;
}
.navleft img {
  padding: 0px 10px;
}
.navright {
  width: 80%;
  text-align: right;
}
.navitems a {
  font-size: smaller;
  font-weight: bolder;
  margin: auto;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.navitems a:hover {
  color: rgb(255, 200, 0);
}
.full-width {
  width: 100%;
}
span {
  color: brown;
}
.container {
  background-color: rgb(250, 250, 250);
}
.section1 {
  width: 85%;
  display: flex;
  align-items: center;
}
.section1-left {
  width: 70%;
  margin: 0px;
  padding: 10px;
  text-align: justify;
}
.bold {
  font-weight: bolder;
  color: black;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  width: 40%;
}
.h2-bg {
  width: 100%;
  background-color: #285803;
}
.form h2 {
  color: white;
  padding: 10px;
  text-align: center;
}
.form .contents {
  display: flex;
  align-items: center;
  width: 100%;
}
.form .contents .fields {
  width: 100%;
  text-align: center;
}
.form .contents .fields input,
textarea {
  padding: 10px;
  width: 80%;
}
input[type="submit"] {
  background-color: rgb(255, 200, 0);
  color: white;
  border: none;
}
input[type="submit"]:hover {
  background-color: #002147;
  color: rgb(255, 200, 0);
}
.section2,
.section4 {
  background-color: rgb(200, 200, 200);
  text-align: center;
}
.section2-figures,
.section4-figures {
  margin: 0% 5%;
}
figure {
  display: inline-block;
  text-align: center;
  background-color: white;
  color: black;
  width: 20%;
  margin: 25px;
}
figure img {
  width: 100%;
}
figcaption {
  width: 100%;
  padding: 10px;
}
.fixed {
  position: fixed;
  bottom: 10%;
  left: 0%;
  background-color: green;
  color: white;
  border: solid rgb(0, 124, 0);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 10px;
  width: 150px;
  height: 50px;
  z-index: 1;
}
.section3,
.section5 {
  text-align: center;
  width: 85%;
  padding: 10px;
}
table {
  width: 100%;
  border: black;
  border-collapse: collapse;
}
thead {
  background-color: #002147;
  color: white;
}
td,
th {
  text-align: left;
  padding: 10px;
  border: solid thin rgb(210, 210, 210);
}
td a {
  color: red;
  text-decoration: none;
}
.section4-figures figure {
  height: 100%;
}
.section4-figures figure img {
  width: 30%;
  padding: 10px 0px;
  text-align: center;
}
figcaption h3,
figcaption p {
  text-align: center;
  padding: 10px 20px;
}
.section5-contents {
  display: flex;
}
.section5-contents-left {
  width: 50%;
  text-align: justify;
  margin-right: 15px;
}
.section5-contents-right {
  width: 50%;
  text-align: justify;
  margin-left: 15px;
}
.section6 {
  height: 250px;
  background-color: #002147;
  color: white;
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: center;
}
.section6 .content {
  width: 85%;
  /* border: solid red; */
  display: flex;
  justify-content: space-between;
}
.section6 .content .stats-content {
  padding: 25px;
  /* border: solid green; */
}
.section6 h1 {
  color: rgb(255, 200, 0);
}
.section6 img {
  width: 20%;
}
.footer1 {
  background-color: green;
}
.footer1 .flex {
  width: 80%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
.footer1 .content,
.footer1 .lmcontent {
  width: 25%;
  padding: 10px;
}
.justified-text {
  text-align: justify;
}
.footer1 .content li {
  list-style: ">  ";
  color: rgb(255, 200, 0);
}
.footer1 .content li p {
  color: white;
}
.footer1 .content li p:hover {
  color: rgb(255, 200, 0);
  padding-left: 10px;
}
.lmcontent p {
  margin-left: 20px;
}
.footer2{
  background-color:  darkgreen;
}
.footer2 .flex {
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}
.footer2 .flex .left {
  width: 70%;
}
.footer2 .flex .right {
  width: 30%;
  text-align: right;
}
.footer2 span{
  color: rgb(0, 110, 255);
}
.page-header {
  background-color: #002147;
  color: white;
  height: 100px;
  /* border: solid white; */
  align-items: center;
  display: flex;
}
.page-header .flex {
  width: 85%;
  display: flex;
  align-items: center;
  /* border: solid white; */
  padding: 10px;
}
.page-header .flex .left {
  text-align: left;
  width: 50%;
}
.page-header .flex .right {
  text-align: right;
  width: 50%;
}
.page-header .flex .right span {
  color: rgb(255, 200, 0);
}
.larger {
  font-size: larger;
}
.about-img {
  float: left;
  width: 30%;
}
.about-text-1 {
  float: left;
  width: 70%;
  padding-left: 20px;
}
.about-text-2 {
  float: left;
  width: 70%;
  padding-right: 20px;
}